<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <style>
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
        }
    </style>
</head>
<body>


<div>
    <table border="2" width="600" align="center">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>Role</th>
            <th>Logout</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><div th:utext ="${user.getId()}">...</div></td>
            <td><div th:utext ="${user.getName()}">...</div></td>
            <td><div th:utext ="${user.getAge()}">...</div></td>
            <td><div th:utext ="${user.getRoles()[0].name}">...</div></td>
            <td>
                <a href="/logout">Logout</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>